@using ClinicManagement.Menu
@inject AdminSidebarService _AdminSidebarService
@model ClinicManagement.Models.Category

@{
    ViewData["Title"] = "Tạo mới danh mục";
    
}

@* <h1>Create</h1> *@

@* <h4>Category</h4>
<hr /> *@
<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
             <div class="form-group">
                <label asp-for="ParentCategoryID" class="control-label"></label>
                <select asp-for="ParentCategoryID" class ="form-control" asp-items="ViewBag.ParentCategoryID"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                 <a class="btn btn-secondary" asp-action="index"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Danh sách danh mục</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}


